html{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #29293d;
}
.navbar-right{
    float: right;
    padding: 0%;
}
.logo{
    height:50%;
    width:50%;
    padding: 0%;
}
.jumbotron{
    text-align: center;
    background-color: #f7f7f7;
    margin: 5% 0%;
    height: 25%;
    width: 101%
}
.profile{
    width: 15%;
    height: 15%;
    float: left;
    margin: 10px;
}
.homepage{
    border: solid;
    border-color: #ecb7a0;
    border-radius: 10px;
    border-width: 30px;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    margin: 0% 10%;
    background: #f7f7f7;
    padding: 2%;
    height: 1500px;
    width: 80%;
}
.left{
    float: left;
    padding: 5%;
    align-content: center;
}
.form-group{
    width: 100%;
    border-radius: 5%;
}
footer{
    margin: 10% 0%;
}
a.projects{
    font-size: 15px;
    text-align: center;
    padding: 5%;
}
.resume{
    width: 100%;
    height: 100%;
}