html{
    font-family: 'Raleway', sans-serif;
    /* background: #000e5e; */
}
.jumbotron{
    text-align: center;
    background-color: white;
    margin: 10% 0% 0% 0%;
    padding: 5% 0% 0% 0%;
}
.profilepic{
    border-radius: 150px;
    width: 25%;
    height: 25%
}
.display-4{
    font-family: 'Italianno', cursive;
    font-size: 100px;
    color: #f78a4f;
}
.lead{
    font-size: 30px;
}
.menu{
    font-family: 'Italianno', cursive;
    font-size: 35px;
    margin:10% ;
}
a{
    color: #000e5e;
}
a:hover{
    color:#000e5e;
    text-decoration: none;
    font-family:'Raleway', sans-serif;
    font-size: 25px;
}
.homepage{
    font-family:'Raleway', sans-serif;
    font-size: 25px;
    margin: 0% 10%;
    background: white;
}
.project-pic{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding: 5%;
    z-index: -99;
}
.left{
    float: left;
    padding: 5%;
    align-content: center;
}
.project-title{
    font-size: 15px;
    text-align: center;
    padding: 5%;
}
a.projects{
    font-size: 15px;
    text-align: center;
    padding: 5%;
    /* color: white; */
    
}
.form-group{
    width: 100%;
    border-radius: 5%;
}
footer{
    margin: 10% 0%;
}